## Data Preparation: Study of the Evolution in Male Portuguese Swimming
## 2) American Records

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np

In [ ]:
# Read file from this path
path='/content/drive/MyDrive/Colab Notebooks/Swimming Python Project/800Free.csv'
event=pd.read_csv(path, encoding= 'unicode_escape')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Presentation of the dataset
event

       Time             Name       Date
0   4:31.00        Gary Hall  8/21/1970
1   4:30.81        Gary Hall   8/3/1972
2   4:30.56   Steven Furniss  8/23/1974
3   4:28.11        Tim McKee  6/17/1976
4   4:26.79  Rodney Strachan  6/17/1976
5   4:23.68  Rodney Strachan  7/25/1976
6   4:20.05   Jesse Vassallo  8/22/1978
7   4:18.77     Dave Wharton  6/23/1986
8   4:18.45     Dave Wharton  7/29/1987
9   4:17.81     Dave Wharton  7/29/1987
10  4:16.12     Dave Wharton  8/14/1987
11  4:15.93     Dave Wharton   8/2/1989
12  4:15.78    Eric Namesnik  7/30/1990
13  4:15.57    Eric Namesnik  7/30/1990
14  4:15.21    Eric Namesnik   1/8/1991
15  4:14.50    Eric Namesnik  7/28/1993
16  4:13.52        Tom Dolan   4/1/1994
17  4:12.30        Tom Dolan   9/6/1994
18  4:11.76        Tom Dolan  9/17/2000
19  4:11.09   Michael Phelps  8/15/2002
20  4:10.73   Michael Phelps   4/6/2003
21  4:09.09   Michael Phelps  7/27/2003
22  4:08.41   Michael Phelps   7/7/2004
23  4:08.26   Michael Phelps  8/14/2004
24  4:06.22   Michael Phelps   4/1/2007
25  4:05.25   Michael Phelps  6/29/2008
26  4:03.84   Michael Phelps  8/10/2008

In [ ]:
# Delete the old columns from the dataset
event=event.drop(columns=['RANK','LSC','CLUB CODE','SWIMMER\nCOUNTRY','MEET NAME','LOCATION\nCITY'])

In [ ]:
# Add new columns to a dataset
event.columns = ['Time', 'Name', 'Date']

In [ ]:
# Auxiliar function to invert a specific row in the dataset

def invert(nome, value, number):
  aux=event[nome][value]
  event[nome][value]=event[nome][number-1-value]
  event[nome][number-1-value]=aux

In [ ]:
# Reorder the dataset rows by ascending date

i=0
while(i<event.shape[1]):
  if event['Time'][i]==event['Time'][i-1]:
    invert('Time', i, event.shape[1])
    invert('Name', i, event.shape[1])
    invert('Date', i, event.shape[1])
  i+=1

In [ ]:
# Imput new rows in the dataset

number = int(input('Number of Times: '))
i=0
while(i<number):
  print(i+1)
  time = input('Time: ')
  name = input('Name: ')
  date = input('Date: ')
  club = input('Club: ')
  event.loc[len(event.index)] = [time, name, club, date] 
  i=i+1

In [ ]:
# Presentation of the dataset again 
event

In [ ]:
# Create a new csv file
event.to_csv('Medley 400.csv')