## Data Preparation: Study of the Evolution in Male Portuguese Swimming
## 1) Portuguese Records

In [1]:
# Import Libraries
import pandas as pd
import numpy as np

In [45]:
# Read file from this path
path='/content/drive/MyDrive/Colab Notebooks/Swimming Python Project/800Free.csv'
event=pd.read_csv(path, encoding= 'unicode_escape')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
# Presentation of the dataset
event

,Time,Name,Club,Date,Place
0,10:22.9,Eduardo José de,NaN,fpn,"[02.09.60, Roma]"
1,10:22.1,Fernando Rosa,Jorge,sad,"[18.08.68, Vila, Franca, de, Xira]"
2,10:18.8,Fernando Rosa,Jorge,ind,"[29.08.71, Coimbra]"
3,10:16.8,Paulo José,Frischknecht,sad,"[11.07.73, Lisboa, , Olivais]"
4,09:53.2,António Paulo,Vasconcelos,cnlu,"[18.08.73, Coimbra]"
5,09:49.2,José Guilherme,Loureiro,cdna,"[11.03.74, Luanda]"
6,09:38.9,António Botelho de,NaN,gdlm,"[10.08.74, Lisboa, , Olivais]"
7,09:20.5,Paulo José,Frischknecht,sad,"[20.07.75, Lisboa, , Olivais]"
8,09:20.0,António Botelho de,NaN,cac,"[22.08.75, Coimbra]"
9,09:14.34,António Botelho de,NaN,fpn,"[19.07.76, Montréal]"
10,09:14.01,José Baltar,Leite,fpn,"[20.05.77, Mulhouse]"
11,09:12.35,José Baltar,Leite,cfp,"[07.08.77, Coimbra]"
12,08:54.54,José Baltar,Leite,fpn,"[19.08.77, Jönkoping]"
13,08:49.30,José Baltar,Leite,cfp,"[06.08.78, Lisboa, , Olivais]"
14,08:46.41,José Baltar,Leite,fpn,"[24.08.78, Berlim, Ocidental]"
15,08:44.13,José Baltar,Leite,fpn,"[08.04.79, Rio, de, Janeiro]"
16,08:39.47,José Baltar,Leite,fpn,"[01.02.80, Amersfoort]"
17,08:37.87,José Baltar,Leite,fpn,"[16.06.80, Bratislava]"
18,08:34.49,Rui Paulo,Borges,fpn,"[18.03.84, Mérida, MEX]"
19,08:30.46,Artur Manuel,Costa,fpn,"[03.05.87, Buenos, Aires]"
20,08:23.92,Artur Manuel,Costa,fpn,"[22.08.87, Estrasburgo]"
21,08:20.54,Artur Manuel,Costa,fpn,"[02.12.90, Indianapolis]"
22,08:18.90,Artur Manuel,Costa,fpn,"[21.07.91, Sheffield]"
23,08:15.24,Artur Manuel,Costa,fpn,"[30.07.92, Barcelona]"
24,08:14.33,Fernando Eurico,Costa,fpn,"[20.02.04, Bordéus]"
25,08:13.78,Fernando Eurico,Costa,fpn,"[24.04.04, Dunquerque]"
26,08:12.35,Fernando Eurico,Costa,fpn,"[25.04.04, Dunquerque]"
27,08:07.83,Fernando Eurico,Costa,fpn,"[13.04.05, Nancy]"
28,08:06.98,Fernando Eurico,Costa,fpn,"[26.07.05, Montréal]"
29,08:06.44,Fernando Eurico,Costa,fpn,"[27.03.07, Melbourne]"
30,08:05.35,Fernando Eurico,Costa,lsc,"[29.07.07, Aveiro]"

In [ ]:
# Create new columns in the dataset

s=np.random.randint(1,101,event.shape[1])

event['Time'] = s
event['Name'] = s
event['Club'] = s
event['Date'] = s
event['Place'] = s

In [42]:
# Split the dataset and assign the values ​​in the corresponding columns

i=0
for x in event['Time']:              #Change the name if necessary
  lines = x.split()
  if i==0 or i==6 or i==8 or i==9:   #Change the indexs if necessary for names with more than 3 words
    event['Time'][i] = lines[0]
    event['Name'][i] = lines[1]+ ' ' + lines[2] + ' ' + lines[3] + ' ' + lines[4]
    event['Date'][i] = lines[5]
    event['Date'][i] = lines[6]
    event['Place'][i] = lines[7:]
  else:
    event['Time'][i] = lines[0]
    event['Name'][i] = lines[1]+ ' ' + lines[2] + ' ' + lines[3]
    event['Club'][i] = lines[4]
    event['Date'][i] = lines[5]
    event['Place'][i] = lines[6:]
  i=i+1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [ ]:
# Correct specific values ​​in a given column

col = ' '
idx = 1
value = ' '

event[col][idx] = value

In [ ]:
# Imput new rows in the dataset

number = int(input('Number of Times: '))
i=0
while(i<number):
  print(i+1)
  tempo = input('Time: ')
  nome = input('Name: ')
  clube = input('Club: ')
  data = input('Date: ')
  event.loc[len(event.index)] = [tempo, nome, clube, data]

In [21]:
# Drop columns from dataset
event=event.drop(columns=['Place'])

In [33]:
# Presentation of the dataset again 
event

        Time                       Name  Club      Date
0    10:22.9      Eduardo José de Sousa   fpn  02.09.60
1    10:22.1        Fernando Rosa Jorge   sad  18.08.68
2    10:18.8        Fernando Rosa Jorge   ind  29.08.71
3    10:16.8    Paulo José Frischknecht   sad  11.07.73
4    09:53.2  António Paulo Vasconcelos  cnlu  18.08.73
5    09:49.2    José Guilherme Loureiro  cdna  11.03.74
6    09:38.9    António Botelho de Melo  gdlm  10.08.74
7    09:20.5    Paulo José Frischknecht   sad  20.07.75
8    09:20.0    António Botelho de Melo   cac  22.08.75
9   09:14.34    António Botelho de Melo   fpn  19.07.76
10  09:14.01          José Baltar Leite   fpn  20.05.77
11  09:12.35          José Baltar Leite   cfp  07.08.77
12  08:54.54          José Baltar Leite   fpn  19.08.77
13  08:49.30          José Baltar Leite   cfp  06.08.78
14  08:46.41          José Baltar Leite   fpn  24.08.78
15  08:44.13          José Baltar Leite   fpn  08.04.79
16  08:39.47          José Baltar Leite   fpn  01.02.80
17  08:37.87          José Baltar Leite   fpn  16.06.80
18  08:34.49           Rui Paulo Borges   fpn  18.03.84
19  08:30.46         Artur Manuel Costa   fpn  03.05.87
20  08:23.92         Artur Manuel Costa   fpn  22.08.87
21  08:20.54         Artur Manuel Costa   fpn  02.12.90
22  08:18.90         Artur Manuel Costa   fpn  21.07.91
23  08:15.24         Artur Manuel Costa   fpn  30.07.92
24  08:14.33      Fernando Eurico Costa   fpn  20.02.04
25  08:13.78      Fernando Eurico Costa   fpn  24.04.04
26  08:12.35      Fernando Eurico Costa   fpn  25.04.04
27  08:07.83      Fernando Eurico Costa   fpn  13.04.05
28  08:06.98      Fernando Eurico Costa   fpn  26.07.05
29  08:06.44      Fernando Eurico Costa   fpn  27.03.07
30       sss      Fernando Eurico Costa   lsc  29.07.07

In [24]:
# Create a new csv file

event.to_csv('Livres 800.csv')